In [1]:
#| default_exp _experiments.auto

# Auto MPG dataset

The Auto MPG Dataset is a regression dataset [1] with 7 features - Cylinders, Displacement, Horsepower,Weight, Acceleration, Model Year, Origin. And the dependant variable is monotonically decreasing with respect to features weigh, displacement, and horsepower. The `monotonicity_indicator` corrsponding to these features are set to -1, since the relationship is a monotonically decreasing one with respect to the dependant variable.

This is a part of comparison with methods and datasets from COMET [2] (Reference #20 in our paper).

References:

1. Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.
 
    https://archive.ics.uci.edu/ml/datasets/auto+mpg

2.   Aishwarya Sivaraman, Golnoosh Farnadi, Todd Millstein, and Guy Van den Broeck. Counterexample-guided learning of monotonic neural networks. Advances in Neural Information Processing Systems, 33:11936â€“11948, 2020

    Github repo: https://github.com/AishwaryaSivaraman/COMET

In [2]:
from mono_dense_keras.experiments import get_train_n_test_data, find_hyperparameters, create_tuner_stats

In [3]:
from os import environ

In [4]:
#| include: false

environ["TF_FORCE_GPU_ALLOW_GROWTH"] = "true"

These are a few examples of the dataset:

In [5]:
#| echo: false

train_df, test_df = get_train_n_test_data(dataset_name="auto")
display(train_df.head().T.style)

In [7]:
tuner = find_hyperparameters(
    "auto",
    monotonicity_indicator={
        "Cylinders": 0,
        "Displacement": -1,
        "Horsepower": -1,
        "Weight": -1,
        "Acceleration": 0,
        "Model_Year": 0,
        "Origin": 0,
    },
    max_trials=100,
    final_activation=None,
    loss="mse",
    metrics="mse",
    objective="val_mse",
)

Trial 32 Complete [00h 00m 15s]
val_mse: 10.45270856221517

Best val_mse So Far: 8.659334818522135
Total elapsed time: 00h 00m 45s
INFO:tensorflow:Oracle triggered exit

In [9]:
#| include: false

stats = create_tuner_stats(tuner)

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_mse_mean,val_mse_std,val_mse_min,val_mse_max,params
0,26,2,elu,0.086301,0.147297,0.162063,0.927282,8.979827,NaN,8.979827,8.979827,1363

In [10]:
#| echo: false

stats.head().T.style