In [1]:
#| default_exp _experiments.auto

# Auto MPG

The Auto MPG Dataset is a regression dataset [1] with 7 features - Cylinders, Displacement, Horsepower, Weight, Acceleration, Model Year, Origin and the dependant variable is monotonically decreasing with respect to features weigh, displacement, and horsepower. The `monotonicity_indicator` corrsponding to these features are set to -1, since the relationship is a monotonically decreasing one with respect to the dependant variable.

This is a part of comparison with methods and datasets from COMET [2] (Reference #20 in our paper).

References:

1. Ross Quinlan. Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann, 1993.
 
    https://archive.ics.uci.edu/ml/datasets/auto+mpg

2.   Aishwarya Sivaraman, Golnoosh Farnadi, Todd Millstein, and Guy Van den Broeck. Counterexample-guided learning of monotonic neural networks. Advances in Neural Information Processing Systems, 33:11936â€“11948, 2020.

    Github repo: https://github.com/AishwaryaSivaraman/COMET

In [2]:
#| include: false

from mono_dense_keras.experiments import get_train_n_test_data, find_hyperparameters, create_tuner_stats

In [3]:
#| include: false

from os import environ
import tensorflow as tf

In [4]:
#| include: false

environ["TF_FORCE_GPU_ALLOW_GROWTH"] = "true"

gpus = tf.config.list_physical_devices('GPU')
if gpus:
  # Restrict TensorFlow to only use the first GPU
  try:
    tf.config.set_visible_devices(gpus[2], 'GPU')
    logical_gpus = tf.config.list_logical_devices('GPU')
    print(len(gpus), "Physical GPUs,", len(logical_gpus), "Logical GPU")
  except RuntimeError as e:
    # Visible devices must be set before GPUs have been initialized
    print(e)

3 Physical GPUs, 1 Logical GPU

These are a few examples of the dataset:

In [5]:
#| echo: false

train_df, test_df = get_train_n_test_data(dataset_name="auto")
display(train_df.head().T.style)

In [6]:
batch_size = 16
max_epochs = 50

tuner = find_hyperparameters(
    "auto",
    monotonicity_indicator={
        "Cylinders": 0,
        "Displacement": -1,
        "Horsepower": -1,
        "Weight": -1,
        "Acceleration": 0,
        "Model_Year": 0,
        "Origin": 0,
    },
    max_trials=200,
    final_activation=None,
    loss="mse",
    metrics="mse",
    objective="val_mse",
    direction="min",
    batch_size=batch_size,
    max_epochs=max_epochs,    
    executions_per_trial=3,
)

Trial 200 Complete [00h 00m 30s]
val_mse: 9.106983184814453

Best val_mse So Far: 8.562163988749186
Total elapsed time: 01h 30m 07s
INFO:tensorflow:Oracle triggered exit

In [7]:
# | include: false

stats = create_tuner_stats(
    tuner,
    batch_size=batch_size,
    max_epochs=max_epochs,
)

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_mse_mean,val_mse_std,val_mse_min,val_mse_max,params
0,26,2,elu,0.086301,0.147297,0.162063,0.927282,8.368483,0.078852,8.276224,8.490236,1229

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_mse_mean,val_mse_std,val_mse_min,val_mse_max,params
0,26,2,elu,0.086301,0.147297,0.162063,0.927282,8.368483,0.078852,8.276224,8.490236,1229
1,32,1,elu,0.300000,0.143582,0.500000,0.902283,8.671307,0.049590,8.611284,8.728395,169

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_mse_mean,val_mse_std,val_mse_min,val_mse_max,params
0,26,2,elu,0.086301,0.147297,0.162063,0.927282,8.368483,0.078852,8.276224,8.490236,1229
1,32,1,elu,0.300000,0.143582,0.500000,0.902283,8.671307,0.049590,8.611284,8.728395,169
2,32,1,elu,0.040667,0.100000,0.318357,1.000000,8.687323,0.074152,8.604995,8.777007,169

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_mse_mean,val_mse_std,val_mse_min,val_mse_max,params
0,26,2,elu,0.086301,0.147297,0.162063,0.927282,8.368483,0.078852,8.276224,8.490236,1229
3,22,1,elu,0.067666,0.138456,0.500000,1.000000,8.635558,0.070520,8.543325,8.741608,106
1,32,1,elu,0.300000,0.143582,0.500000,0.902283,8.671307,0.049590,8.611284,8.728395,169
2,32,1,elu,0.040667,0.100000,0.318357,1.000000,8.687323,0.074152,8.604995,8.777007,169

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_mse_mean,val_mse_std,val_mse_min,val_mse_max,params
0,26,2,elu,0.086301,0.147297,0.162063,0.927282,8.368483,0.078852,8.276224,8.490236,1229
3,22,1,elu,0.067666,0.138456,0.500000,1.000000,8.635558,0.070520,8.543325,8.741608,106
1,32,1,elu,0.300000,0.143582,0.500000,0.902283,8.671307,0.049590,8.611284,8.728395,169
2,32,1,elu,0.040667,0.100000,0.318357,1.000000,8.687323,0.074152,8.604995,8.777007,169
4,8,4,elu,0.044168,0.300000,0.000000,0.860238,8.729338,0.185472,8.530204,9.027307,301

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_mse_mean,val_mse_std,val_mse_min,val_mse_max,params
0,26,2,elu,0.086301,0.147297,0.162063,0.927282,8.368483,0.078852,8.276224,8.490236,1229
5,19,1,elu,0.169810,0.145653,0.175619,0.921521,8.629537,0.077030,8.510103,8.698004,85
3,22,1,elu,0.067666,0.138456,0.500000,1.000000,8.635558,0.070520,8.543325,8.741608,106
1,32,1,elu,0.300000,0.143582,0.500000,0.902283,8.671307,0.049590,8.611284,8.728395,169
2,32,1,elu,0.040667,0.100000,0.318357,1.000000,8.687323,0.074152,8.604995,8.777007,169
4,8,4,elu,0.044168,0.300000,0.000000,0.860238,8.729338,0.185472,8.530204,9.027307,301

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_mse_mean,val_mse_std,val_mse_min,val_mse_max,params
0,26,2,elu,0.086301,0.147297,0.162063,0.927282,8.368483,0.078852,8.276224,8.490236,1229
5,19,1,elu,0.169810,0.145653,0.175619,0.921521,8.629537,0.077030,8.510103,8.698004,85
3,22,1,elu,0.067666,0.138456,0.500000,1.000000,8.635558,0.070520,8.543325,8.741608,106
1,32,1,elu,0.300000,0.143582,0.500000,0.902283,8.671307,0.049590,8.611284,8.728395,169
2,32,1,elu,0.040667,0.100000,0.318357,1.000000,8.687323,0.074152,8.604995,8.777007,169
4,8,4,elu,0.044168,0.300000,0.000000,0.860238,8.729338,0.185472,8.530204,9.027307,301
6,24,4,elu,0.003970,0.257089,0.000000,1.000000,8.950965,0.113132,8.834150,9.090526,2341

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_mse_mean,val_mse_std,val_mse_min,val_mse_max,params
0,26,2,elu,0.086301,0.147297,0.162063,0.927282,8.368483,0.078852,8.276224,8.490236,1229
5,19,1,elu,0.169810,0.145653,0.175619,0.921521,8.629537,0.077030,8.510103,8.698004,85
3,22,1,elu,0.067666,0.138456,0.500000,1.000000,8.635558,0.070520,8.543325,8.741608,106
7,8,4,elu,0.015073,0.185207,0.000000,1.000000,8.636201,0.178553,8.341215,8.826406,301
1,32,1,elu,0.300000,0.143582,0.500000,0.902283,8.671307,0.049590,8.611284,8.728395,169
2,32,1,elu,0.040667,0.100000,0.318357,1.000000,8.687323,0.074152,8.604995,8.777007,169
4,8,4,elu,0.044168,0.300000,0.000000,0.860238,8.729338,0.185472,8.530204,9.027307,301
6,24,4,elu,0.003970,0.257089,0.000000,1.000000,8.950965,0.113132,8.834150,9.090526,2341

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_mse_mean,val_mse_std,val_mse_min,val_mse_max,params
0,26,2,elu,0.086301,0.147297,0.162063,0.927282,8.368483,0.078852,8.276224,8.490236,1229
8,32,1,elu,0.300000,0.100000,0.201769,1.000000,8.621466,0.187314,8.382471,8.862036,169
5,19,1,elu,0.169810,0.145653,0.175619,0.921521,8.629537,0.077030,8.510103,8.698004,85
3,22,1,elu,0.067666,0.138456,0.500000,1.000000,8.635558,0.070520,8.543325,8.741608,106
7,8,4,elu,0.015073,0.185207,0.000000,1.000000,8.636201,0.178553,8.341215,8.826406,301
1,32,1,elu,0.300000,0.143582,0.500000,0.902283,8.671307,0.049590,8.611284,8.728395,169
2,32,1,elu,0.040667,0.100000,0.318357,1.000000,8.687323,0.074152,8.604995,8.777007,169
4,8,4,elu,0.044168,0.300000,0.000000,0.860238,8.729338,0.185472,8.530204,9.027307,301
6,24,4,elu,0.003970,0.257089,0.000000,1.000000,8.950965,0.113132,8.834150,9.090526,2341

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_mse_mean,val_mse_std,val_mse_min,val_mse_max,params
0,26,2,elu,0.086301,0.147297,0.162063,0.927282,8.368483,0.078852,8.276224,8.490236,1229
8,32,1,elu,0.300000,0.100000,0.201769,1.000000,8.621466,0.187314,8.382471,8.862036,169
5,19,1,elu,0.169810,0.145653,0.175619,0.921521,8.629537,0.077030,8.510103,8.698004,85
3,22,1,elu,0.067666,0.138456,0.500000,1.000000,8.635558,0.070520,8.543325,8.741608,106
9,32,4,elu,0.013175,0.100000,0.156609,1.000000,8.635864,0.220399,8.301335,8.895535,4081
7,8,4,elu,0.015073,0.185207,0.000000,1.000000,8.636201,0.178553,8.341215,8.826406,301
1,32,1,elu,0.300000,0.143582,0.500000,0.902283,8.671307,0.049590,8.611284,8.728395,169
2,32,1,elu,0.040667,0.100000,0.318357,1.000000,8.687323,0.074152,8.604995,8.777007,169
4,8,4,elu,0.044168,0.300000,0.000000,0.860238,8.729338,0.185472,8.530204,9.027307,301
6,24,4,elu,0.003970,0.257089,0.000000,1.000000,8.950965,0.113132,8.834150,9.090526,2341

In [8]:
#| echo: false

stats.sort_values(by="val_mse_mean", ascending=True).head().reset_index(drop=True).T.style