In [1]:
#| default_exp _experiments.compas

# COMPAS

COMPAS [1] is a dataset containing the criminal records of 6,172 individuals
arrested in Florida. The task is to predict whether the individual will commit a crime again
in 2 years. The probability predicted by the system will be used as a risk score. As mentioned in [2] 13 attributes for prediction. The risk score should be monotonically increasing w.r.t. four attributes, number of prior adult convictions, number of juvenile felony, number of juvenile misdemeanor, and number of other convictions. The `monotonicity_indicator` corrsponding to these features are set to 1.

References: 

1. S. Mattu J. Angwin, J. Larson and L. Kirchner. Machine bias: There’s software used across the country to predict future criminals. and it’s biased against blacks. ProPublica, 2016.

2. Xingchao Liu, Xing Han, Na Zhang, and Qiang Liu. Certified monotonic neural networks. Advances in Neural Information Processing Systems, 33:15427–15438, 2020

In [2]:
#| include: false

from mono_dense_keras.experiments import get_train_n_test_data, find_hyperparameters, create_tuner_stats

In [3]:
#| include: false

from os import environ
import tensorflow as tf

In [4]:
#| include: false

environ["TF_FORCE_GPU_ALLOW_GROWTH"] = "true"

gpus = tf.config.list_physical_devices('GPU')
if gpus:
  # Restrict TensorFlow to only use the first GPU
  try:
    tf.config.set_visible_devices(gpus[1], 'GPU')
    logical_gpus = tf.config.list_logical_devices('GPU')
    print(len(gpus), "Physical GPUs,", len(logical_gpus), "Logical GPU")
  except RuntimeError as e:
    # Visible devices must be set before GPUs have been initialized
    print(e)

3 Physical GPUs, 1 Logical GPU

These are a few examples of the dataset:

In [5]:
#| echo: false

train_df, test_df = get_train_n_test_data(dataset_name="compas")
display(train_df.head().T.style)

In [6]:
batch_size = 8
max_epochs = 50

tuner = find_hyperparameters(
    "compas",
    monotonicity_indicator = {
        "priors_count": 1,
        "juv_fel_count": 1,
        "juv_misd_count": 1,
        "juv_other_count": 1,
        "age": 0,
        "race_0": 0,
        "race_1": 0,
        "race_2": 0,
        "race_3": 0,
        "race_4": 0,
        "race_5": 0,
        "sex_0": 0,
        "sex_1": 0,
    },
    max_trials=50,
    final_activation="sigmoid",
    loss = "binary_crossentropy",
    metrics = "accuracy",
    objective="val_accuracy",
    direction="max",
    batch_size=batch_size,
    max_epochs=max_epochs,    
    executions_per_trial=1,
)

Trial 50 Complete [00h 01m 15s]
val_accuracy: 0.6793522238731384

Best val_accuracy So Far: 0.6995951533317566
Total elapsed time: 01h 43m 54s
INFO:tensorflow:Oracle triggered exit

In [7]:
# | include: false

stats = create_tuner_stats(
    tuner,
    batch_size=batch_size,
    max_epochs=max_epochs,
)

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
0,26,2,elu,0.086301,0.147297,0.162063,0.927282,0.691336,0.001558,0.689069,0.693117,2237

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
1,22,1,elu,0.093473,0.149578,0.112410,0.852179,0.689393,0.002261,0.687449,0.693117,196
0,26,2,elu,0.086301,0.147297,0.162063,0.927282,0.691336,0.001558,0.689069,0.693117,2237

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
1,22,1,elu,0.093473,0.149578,0.112410,0.852179,0.689393,0.002261,0.687449,0.693117,196
0,26,2,elu,0.086301,0.147297,0.162063,0.927282,0.691336,0.001558,0.689069,0.693117,2237
2,27,2,elu,0.084685,0.137518,0.175917,0.899399,0.693441,0.003648,0.689069,0.698785,2317

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
1,22,1,elu,0.093473,0.149578,0.112410,0.852179,0.689393,0.002261,0.687449,0.693117,196
0,26,2,elu,0.086301,0.147297,0.162063,0.927282,0.691336,0.001558,0.689069,0.693117,2237
3,31,3,elu,0.018339,0.105921,0.480390,0.964135,0.691498,0.001280,0.689879,0.693117,4058
2,27,2,elu,0.084685,0.137518,0.175917,0.899399,0.693441,0.003648,0.689069,0.698785,2317

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
1,22,1,elu,0.093473,0.149578,0.112410,0.852179,0.689393,0.002261,0.687449,0.693117,196
0,26,2,elu,0.086301,0.147297,0.162063,0.927282,0.691336,0.001558,0.689069,0.693117,2237
3,31,3,elu,0.018339,0.105921,0.480390,0.964135,0.691498,0.001280,0.689879,0.693117,4058
4,28,3,elu,0.105227,0.120702,0.160270,0.872222,0.693117,0.000992,0.692308,0.694737,3599
2,27,2,elu,0.084685,0.137518,0.175917,0.899399,0.693441,0.003648,0.689069,0.698785,2317

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
1,22,1,elu,0.093473,0.149578,0.112410,0.852179,0.689393,0.002261,0.687449,0.693117,196
0,26,2,elu,0.086301,0.147297,0.162063,0.927282,0.691336,0.001558,0.689069,0.693117,2237
3,31,3,elu,0.018339,0.105921,0.480390,0.964135,0.691498,0.001280,0.689879,0.693117,4058
5,25,2,elu,0.069011,0.153525,0.180772,0.874505,0.692955,0.002016,0.691498,0.696356,2157
4,28,3,elu,0.105227,0.120702,0.160270,0.872222,0.693117,0.000992,0.692308,0.694737,3599
2,27,2,elu,0.084685,0.137518,0.175917,0.899399,0.693441,0.003648,0.689069,0.698785,2317

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
1,22,1,elu,0.093473,0.149578,0.112410,0.852179,0.689393,0.002261,0.687449,0.693117,196
0,26,2,elu,0.086301,0.147297,0.162063,0.927282,0.691336,0.001558,0.689069,0.693117,2237
3,31,3,elu,0.018339,0.105921,0.480390,0.964135,0.691498,0.001280,0.689879,0.693117,4058
6,23,2,elu,0.089831,0.140927,0.106579,0.824555,0.691498,0.001899,0.689069,0.693117,1672
5,25,2,elu,0.069011,0.153525,0.180772,0.874505,0.692955,0.002016,0.691498,0.696356,2157
4,28,3,elu,0.105227,0.120702,0.160270,0.872222,0.693117,0.000992,0.692308,0.694737,3599
2,27,2,elu,0.084685,0.137518,0.175917,0.899399,0.693441,0.003648,0.689069,0.698785,2317

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
1,22,1,elu,0.093473,0.149578,0.112410,0.852179,0.689393,0.002261,0.687449,0.693117,196
7,19,1,elu,0.169810,0.145653,0.175619,0.921521,0.689393,0.001086,0.688259,0.690688,157
0,26,2,elu,0.086301,0.147297,0.162063,0.927282,0.691336,0.001558,0.689069,0.693117,2237
3,31,3,elu,0.018339,0.105921,0.480390,0.964135,0.691498,0.001280,0.689879,0.693117,4058
6,23,2,elu,0.089831,0.140927,0.106579,0.824555,0.691498,0.001899,0.689069,0.693117,1672
5,25,2,elu,0.069011,0.153525,0.180772,0.874505,0.692955,0.002016,0.691498,0.696356,2157
4,28,3,elu,0.105227,0.120702,0.160270,0.872222,0.693117,0.000992,0.692308,0.694737,3599
2,27,2,elu,0.084685,0.137518,0.175917,0.899399,0.693441,0.003648,0.689069,0.698785,2317

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
1,22,1,elu,0.093473,0.149578,0.112410,0.852179,0.689393,0.002261,0.687449,0.693117,196
7,19,1,elu,0.169810,0.145653,0.175619,0.921521,0.689393,0.001086,0.688259,0.690688,157
8,26,2,elu,0.078770,0.151123,0.080289,0.866129,0.690364,0.000444,0.689879,0.690688,2237
0,26,2,elu,0.086301,0.147297,0.162063,0.927282,0.691336,0.001558,0.689069,0.693117,2237
3,31,3,elu,0.018339,0.105921,0.480390,0.964135,0.691498,0.001280,0.689879,0.693117,4058
6,23,2,elu,0.089831,0.140927,0.106579,0.824555,0.691498,0.001899,0.689069,0.693117,1672
5,25,2,elu,0.069011,0.153525,0.180772,0.874505,0.692955,0.002016,0.691498,0.696356,2157
4,28,3,elu,0.105227,0.120702,0.160270,0.872222,0.693117,0.000992,0.692308,0.694737,3599
2,27,2,elu,0.084685,0.137518,0.175917,0.899399,0.693441,0.003648,0.689069,0.698785,2317

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
1,22,1,elu,0.093473,0.149578,0.112410,0.852179,0.689393,0.002261,0.687449,0.693117,196
7,19,1,elu,0.169810,0.145653,0.175619,0.921521,0.689393,0.001086,0.688259,0.690688,157
8,26,2,elu,0.078770,0.151123,0.080289,0.866129,0.690364,0.000444,0.689879,0.690688,2237
9,27,4,elu,0.004705,0.174339,0.072360,0.791007,0.691174,0.000724,0.690688,0.692308,3829
0,26,2,elu,0.086301,0.147297,0.162063,0.927282,0.691336,0.001558,0.689069,0.693117,2237
3,31,3,elu,0.018339,0.105921,0.480390,0.964135,0.691498,0.001280,0.689879,0.693117,4058
6,23,2,elu,0.089831,0.140927,0.106579,0.824555,0.691498,0.001899,0.689069,0.693117,1672
5,25,2,elu,0.069011,0.153525,0.180772,0.874505,0.692955,0.002016,0.691498,0.696356,2157
4,28,3,elu,0.105227,0.120702,0.160270,0.872222,0.693117,0.000992,0.692308,0.694737,3599
2,27,2,elu,0.084685,0.137518,0.175917,0.899399,0.693441,0.003648,0.689069,0.698785,2317

In [8]:
#| echo: false

stats.sort_values(by="val_accuracy_mean", ascending=False).head().reset_index(drop=True).T.style