In [1]:
#| default_exp _experiments.heart

# Heart disease dataset

Heart Disease [1] is a classification dataset used for predicting the presence of heart disease with 13 features (age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpeak, slope, ca, thal) and monotonically increasing with respect to features- trestbps and cholestrol (chol). The `monotonicity_indicator` corrsponding to these features are set to 1. 


References:


1.   John H. Gennari, Pat Langley, and Douglas H. Fisher. Models of incremental concept formation. Artif. Intell., 40(1-3):11–61, 1989.

  https://archive.ics.uci.edu/ml/datasets/heart+disease

2.   Aishwarya Sivaraman, Golnoosh Farnadi, Todd Millstein, and Guy Van den Broeck. Counterexample-guided learning of monotonic neural networks. Advances in Neural Information Processing Systems, 33:11936–11948, 2020

In [2]:
from mono_dense_keras.experiments import get_train_n_test_data, find_hyperparameters, create_tuner_stats

In [3]:
from os import environ

In [4]:
#| include: false

environ["TF_FORCE_GPU_ALLOW_GROWTH"] = "true"

These are a few examples of the dataset:

In [5]:
#| echo: false

train_df, test_df = get_train_n_test_data(dataset_name="heart")
display(train_df.head().T.style)

In [6]:
tuner = find_hyperparameters(
    "heart",
    monotonicity_indicator = {
        "age": 0,
        "sex": 0,
        "cp": 0,
        "trestbps": 1,
        "chol": 1,
        "fbs": 0,
        "restecg": 0,
        "thalach": 0,
        "exang": 0,
        "oldpeak": 0,
        "slope": 0,
        "ca": 0,
        "thal": 0,
    },
    max_trials=100,
    final_activation="sigmoid",
    loss = "binary_crossentropy",
    metrics = "accuracy",
    objective="val_accuracy",
)

Trial 50 Complete [00h 00m 34s]
val_accuracy: 0.8579234878222147

Best val_accuracy So Far: 0.8797814249992371
Total elapsed time: 00h 21m 09s
INFO:tensorflow:Oracle triggered exit

In [7]:
#| include: false

stats = create_tuner_stats(tuner)

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
0,29,3,elu,0.002105,0.135955,0.467131,0.936366,0.868852,0.0,0.868852,0.868852,2552

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
0,29,3,elu,0.002105,0.135955,0.467131,0.936366,0.868852,0.0,0.868852,0.868852,2552
1,31,3,elu,0.001021,0.153803,0.493915,0.940910,0.885246,0.0,0.885246,0.885246,2850

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
0,29,3,elu,0.002105,0.135955,0.467131,0.936366,0.868852,0.000000,0.868852,0.868852,2552
2,29,3,elu,0.001000,0.162015,0.500000,0.963638,0.872131,0.007331,0.868852,0.885246,2552
1,31,3,elu,0.001021,0.153803,0.493915,0.940910,0.885246,0.000000,0.885246,0.885246,2850

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
0,29,3,elu,0.002105,0.135955,0.467131,0.936366,0.868852,0.000000,0.868852,0.868852,2552
2,29,3,elu,0.001000,0.162015,0.500000,0.963638,0.872131,0.007331,0.868852,0.885246,2552
3,28,3,elu,0.001069,0.161953,0.500000,0.907851,0.878689,0.008979,0.868852,0.885246,2409
1,31,3,elu,0.001021,0.153803,0.493915,0.940910,0.885246,0.000000,0.885246,0.885246,2850

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
0,29,3,elu,0.002105,0.135955,0.467131,0.936366,0.868852,0.000000,0.868852,0.868852,2552
2,29,3,elu,0.001000,0.162015,0.500000,0.963638,0.872131,0.007331,0.868852,0.885246,2552
4,27,2,elu,0.001000,0.174954,0.500000,0.937114,0.875410,0.008979,0.868852,0.885246,1456
3,28,3,elu,0.001069,0.161953,0.500000,0.907851,0.878689,0.008979,0.868852,0.885246,2409
1,31,3,elu,0.001021,0.153803,0.493915,0.940910,0.885246,0.000000,0.885246,0.885246,2850

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
0,29,3,elu,0.002105,0.135955,0.467131,0.936366,0.868852,0.000000,0.868852,0.868852,2552
2,29,3,elu,0.001000,0.162015,0.500000,0.963638,0.872131,0.007331,0.868852,0.885246,2552
4,27,2,elu,0.001000,0.174954,0.500000,0.937114,0.875410,0.008979,0.868852,0.885246,1456
5,29,2,elu,0.001225,0.160148,0.500000,0.936670,0.875410,0.008979,0.868852,0.885246,1682
3,28,3,elu,0.001069,0.161953,0.500000,0.907851,0.878689,0.008979,0.868852,0.885246,2409
1,31,3,elu,0.001021,0.153803,0.493915,0.940910,0.885246,0.000000,0.885246,0.885246,2850

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
0,29,3,elu,0.002105,0.135955,0.467131,0.936366,0.868852,0.000000,0.868852,0.868852,2552
2,29,3,elu,0.001000,0.162015,0.500000,0.963638,0.872131,0.007331,0.868852,0.885246,2552
4,27,2,elu,0.001000,0.174954,0.500000,0.937114,0.875410,0.008979,0.868852,0.885246,1456
5,29,2,elu,0.001225,0.160148,0.500000,0.936670,0.875410,0.008979,0.868852,0.885246,1682
3,28,3,elu,0.001069,0.161953,0.500000,0.907851,0.878689,0.008979,0.868852,0.885246,2409
6,19,2,elu,0.001327,0.112207,0.409007,0.892804,0.885246,0.011592,0.868852,0.901639,796
1,31,3,elu,0.001021,0.153803,0.493915,0.940910,0.885246,0.000000,0.885246,0.885246,2850

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
7,20,1,elu,0.165676,0.246540,0.120052,0.889096,0.865574,0.007331,0.852459,0.868852,291
0,29,3,elu,0.002105,0.135955,0.467131,0.936366,0.868852,0.000000,0.868852,0.868852,2552
2,29,3,elu,0.001000,0.162015,0.500000,0.963638,0.872131,0.007331,0.868852,0.885246,2552
4,27,2,elu,0.001000,0.174954,0.500000,0.937114,0.875410,0.008979,0.868852,0.885246,1456
5,29,2,elu,0.001225,0.160148,0.500000,0.936670,0.875410,0.008979,0.868852,0.885246,1682
3,28,3,elu,0.001069,0.161953,0.500000,0.907851,0.878689,0.008979,0.868852,0.885246,2409
6,19,2,elu,0.001327,0.112207,0.409007,0.892804,0.885246,0.011592,0.868852,0.901639,796
1,31,3,elu,0.001021,0.153803,0.493915,0.940910,0.885246,0.000000,0.885246,0.885246,2850

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
7,20,1,elu,0.165676,0.246540,0.120052,0.889096,0.865574,0.007331,0.852459,0.868852,291
0,29,3,elu,0.002105,0.135955,0.467131,0.936366,0.868852,0.000000,0.868852,0.868852,2552
2,29,3,elu,0.001000,0.162015,0.500000,0.963638,0.872131,0.007331,0.868852,0.885246,2552
4,27,2,elu,0.001000,0.174954,0.500000,0.937114,0.875410,0.008979,0.868852,0.885246,1456
5,29,2,elu,0.001225,0.160148,0.500000,0.936670,0.875410,0.008979,0.868852,0.885246,1682
3,28,3,elu,0.001069,0.161953,0.500000,0.907851,0.878689,0.008979,0.868852,0.885246,2409
8,26,3,elu,0.001265,0.135457,0.441823,0.922321,0.878689,0.008979,0.868852,0.885246,2079
6,19,2,elu,0.001327,0.112207,0.409007,0.892804,0.885246,0.011592,0.868852,0.901639,796
1,31,3,elu,0.001021,0.153803,0.493915,0.940910,0.885246,0.000000,0.885246,0.885246,2850

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
7,20,1,elu,0.165676,0.246540,0.120052,0.889096,0.865574,0.007331,0.852459,0.868852,291
0,29,3,elu,0.002105,0.135955,0.467131,0.936366,0.868852,0.000000,0.868852,0.868852,2552
2,29,3,elu,0.001000,0.162015,0.500000,0.963638,0.872131,0.007331,0.868852,0.885246,2552
4,27,2,elu,0.001000,0.174954,0.500000,0.937114,0.875410,0.008979,0.868852,0.885246,1456
5,29,2,elu,0.001225,0.160148,0.500000,0.936670,0.875410,0.008979,0.868852,0.885246,1682
3,28,3,elu,0.001069,0.161953,0.500000,0.907851,0.878689,0.008979,0.868852,0.885246,2409
8,26,3,elu,0.001265,0.135457,0.441823,0.922321,0.878689,0.008979,0.868852,0.885246,2079
9,27,3,elu,0.003140,0.137117,0.080948,0.658693,0.881967,0.007331,0.868852,0.885246,2212
6,19,2,elu,0.001327,0.112207,0.409007,0.892804,0.885246,0.011592,0.868852,0.901639,796
1,31,3,elu,0.001021,0.153803,0.493915,0.940910,0.885246,0.000000,0.885246,0.885246,2850

In [9]:
#| echo: false

stats.head().reset_index(drop=True).T.style