In [1]:
#| default_exp _experiments.heart

# Heart disease

Heart Disease [1] is a classification dataset used for predicting the presence of heart disease with 13 features (age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpeak, slope, ca, thal) and monotonically increasing with respect to features- trestbps and cholestrol (chol). The `monotonicity_indicator` corrsponding to these features are set to 1. 


References:


1.   John H. Gennari, Pat Langley, and Douglas H. Fisher. Models of incremental concept formation. Artif. Intell., 40(1-3):11–61, 1989.

  https://archive.ics.uci.edu/ml/datasets/heart+disease

2.   Aishwarya Sivaraman, Golnoosh Farnadi, Todd Millstein, and Guy Van den Broeck. Counterexample-guided learning of monotonic neural networks. Advances in Neural Information Processing Systems, 33:11936–11948, 2020

In [2]:
#| include: false

from mono_dense_keras.experiments import get_train_n_test_data, find_hyperparameters, create_tuner_stats

In [3]:
#| include: false

from os import environ

In [4]:
#| include: false

environ["TF_FORCE_GPU_ALLOW_GROWTH"] = "true"

These are a few examples of the dataset:

In [5]:
#| echo: false

train_df, test_df = get_train_n_test_data(dataset_name="heart")
display(train_df.head().T.style)

In [6]:
tuner = find_hyperparameters(
    "heart",
    monotonicity_indicator = {
        "age": 0,
        "sex": 0,
        "cp": 0,
        "trestbps": 1,
        "chol": 1,
        "fbs": 0,
        "restecg": 0,
        "thalach": 0,
        "exang": 0,
        "oldpeak": 0,
        "slope": 0,
        "ca": 0,
        "thal": 0,
    },
    max_trials=100,
    final_activation="sigmoid",
    loss = "binary_crossentropy",
    metrics = "accuracy",
    objective="val_accuracy",
)

Trial 100 Complete [00h 00m 24s]
val_accuracy: 0.8633879621823629

Best val_accuracy So Far: 0.8797814249992371
Total elapsed time: 00h 36m 01s
INFO:tensorflow:Oracle triggered exit

In [7]:
#| include: false

stats = create_tuner_stats(tuner)

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
0,29,3,elu,0.002105,0.135955,0.467131,0.936366,0.868852,0.0,0.868852,0.868852,2552

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
0,29,3,elu,0.002105,0.135955,0.467131,0.936366,0.868852,0.000000,0.868852,0.868852,2552
1,16,3,elu,0.001000,0.205112,0.500000,1.000000,0.881967,0.007331,0.868852,0.885246,897

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
2,20,1,elu,0.165676,0.246540,0.120052,0.889096,0.865574,0.007331,0.852459,0.868852,291
0,29,3,elu,0.002105,0.135955,0.467131,0.936366,0.868852,0.000000,0.868852,0.868852,2552
1,16,3,elu,0.001000,0.205112,0.500000,1.000000,0.881967,0.007331,0.868852,0.885246,897

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
2,20,1,elu,0.165676,0.246540,0.120052,0.889096,0.865574,0.007331,0.852459,0.868852,291
0,29,3,elu,0.002105,0.135955,0.467131,0.936366,0.868852,0.000000,0.868852,0.868852,2552
3,22,1,elu,0.300000,0.233500,0.179865,0.919013,0.868852,0.016393,0.852459,0.885246,317
1,16,3,elu,0.001000,0.205112,0.500000,1.000000,0.881967,0.007331,0.868852,0.885246,897

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
2,20,1,elu,0.165676,0.246540,0.120052,0.889096,0.865574,0.007331,0.852459,0.868852,291
0,29,3,elu,0.002105,0.135955,0.467131,0.936366,0.868852,0.000000,0.868852,0.868852,2552
3,22,1,elu,0.300000,0.233500,0.179865,0.919013,0.868852,0.016393,0.852459,0.885246,317
4,26,2,elu,0.001000,0.144370,0.500000,0.994300,0.878689,0.008979,0.868852,0.885246,1377
1,16,3,elu,0.001000,0.205112,0.500000,1.000000,0.881967,0.007331,0.868852,0.885246,897

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
2,20,1,elu,0.165676,0.246540,0.120052,0.889096,0.865574,0.007331,0.852459,0.868852,291
0,29,3,elu,0.002105,0.135955,0.467131,0.936366,0.868852,0.000000,0.868852,0.868852,2552
3,22,1,elu,0.300000,0.233500,0.179865,0.919013,0.868852,0.016393,0.852459,0.885246,317
5,32,2,elu,0.001000,0.114788,0.446662,0.925633,0.875410,0.008979,0.868852,0.885246,2017
4,26,2,elu,0.001000,0.144370,0.500000,0.994300,0.878689,0.008979,0.868852,0.885246,1377
1,16,3,elu,0.001000,0.205112,0.500000,1.000000,0.881967,0.007331,0.868852,0.885246,897

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
2,20,1,elu,0.165676,0.246540,0.120052,0.889096,0.865574,0.007331,0.852459,0.868852,291
0,29,3,elu,0.002105,0.135955,0.467131,0.936366,0.868852,0.000000,0.868852,0.868852,2552
3,22,1,elu,0.300000,0.233500,0.179865,0.919013,0.868852,0.016393,0.852459,0.885246,317
6,29,2,elu,0.002381,0.135978,0.417840,0.912855,0.872131,0.007331,0.868852,0.885246,1682
5,32,2,elu,0.001000,0.114788,0.446662,0.925633,0.875410,0.008979,0.868852,0.885246,2017
4,26,2,elu,0.001000,0.144370,0.500000,0.994300,0.878689,0.008979,0.868852,0.885246,1377
1,16,3,elu,0.001000,0.205112,0.500000,1.000000,0.881967,0.007331,0.868852,0.885246,897

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
2,20,1,elu,0.165676,0.246540,0.120052,0.889096,0.865574,0.007331,0.852459,0.868852,291
0,29,3,elu,0.002105,0.135955,0.467131,0.936366,0.868852,0.000000,0.868852,0.868852,2552
3,22,1,elu,0.300000,0.233500,0.179865,0.919013,0.868852,0.016393,0.852459,0.885246,317
6,29,2,elu,0.002381,0.135978,0.417840,0.912855,0.872131,0.007331,0.868852,0.885246,1682
5,32,2,elu,0.001000,0.114788,0.446662,0.925633,0.875410,0.008979,0.868852,0.885246,2017
4,26,2,elu,0.001000,0.144370,0.500000,0.994300,0.878689,0.008979,0.868852,0.885246,1377
7,17,2,elu,0.001112,0.169679,0.500000,1.000000,0.881967,0.013716,0.868852,0.901639,680
1,16,3,elu,0.001000,0.205112,0.500000,1.000000,0.881967,0.007331,0.868852,0.885246,897

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
2,20,1,elu,0.165676,0.246540,0.120052,0.889096,0.865574,0.007331,0.852459,0.868852,291
0,29,3,elu,0.002105,0.135955,0.467131,0.936366,0.868852,0.000000,0.868852,0.868852,2552
3,22,1,elu,0.300000,0.233500,0.179865,0.919013,0.868852,0.016393,0.852459,0.885246,317
6,29,2,elu,0.002381,0.135978,0.417840,0.912855,0.872131,0.007331,0.868852,0.885246,1682
5,32,2,elu,0.001000,0.114788,0.446662,0.925633,0.875410,0.008979,0.868852,0.885246,2017
4,26,2,elu,0.001000,0.144370,0.500000,0.994300,0.878689,0.008979,0.868852,0.885246,1377
7,17,2,elu,0.001112,0.169679,0.500000,1.000000,0.881967,0.013716,0.868852,0.901639,680
1,16,3,elu,0.001000,0.205112,0.500000,1.000000,0.881967,0.007331,0.868852,0.885246,897
8,16,3,elu,0.001000,0.205682,0.500000,1.000000,0.881967,0.007331,0.868852,0.885246,897

,units,n_layers,activation,learning_rate,weight_decay,dropout,decay_rate,val_accuracy_mean,val_accuracy_std,val_accuracy_min,val_accuracy_max,params
2,20,1,elu,0.165676,0.246540,0.120052,0.889096,0.865574,0.007331,0.852459,0.868852,291
0,29,3,elu,0.002105,0.135955,0.467131,0.936366,0.868852,0.000000,0.868852,0.868852,2552
9,9,4,elu,0.007938,0.234227,0.376129,0.964579,0.868852,0.011592,0.852459,0.885246,432
3,22,1,elu,0.300000,0.233500,0.179865,0.919013,0.868852,0.016393,0.852459,0.885246,317
6,29,2,elu,0.002381,0.135978,0.417840,0.912855,0.872131,0.007331,0.868852,0.885246,1682
5,32,2,elu,0.001000,0.114788,0.446662,0.925633,0.875410,0.008979,0.868852,0.885246,2017
4,26,2,elu,0.001000,0.144370,0.500000,0.994300,0.878689,0.008979,0.868852,0.885246,1377
7,17,2,elu,0.001112,0.169679,0.500000,1.000000,0.881967,0.013716,0.868852,0.901639,680
1,16,3,elu,0.001000,0.205112,0.500000,1.000000,0.881967,0.007331,0.868852,0.885246,897
8,16,3,elu,0.001000,0.205682,0.500000,1.000000,0.881967,0.007331,0.868852,0.885246,897

In [8]:
#| echo: false

stats.sort_values(by="val_accuracy_mean", ascending=False).head().reset_index(drop=True).T.style